.contact
  background: url("../img/contact_bg.png") no-repeat center/cover
  &__form-name,
  &__form-email
    max-width: 370px
    width: 100%
    height: 55px
    padding-left: 10px
    vertical-align: middle
    margin: 70px 0 30px 0
  &__form-name
    margin-right: 30px
  &__form-message
    display: block
    width: 100%
    max-width: 770px
    height: 205px
    margin: 0 auto
    padding: 25px 0 0 10px
    resize: none
  &__form-btn
    display: block
    width: 100%
    max-width: 125px
    height: 50px
    margin: 30px auto 140px auto
    color: #4d4d4d
    font-size: $small-font-size
    font-weight: 500
    box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
    &:hover
      cursor: pointer

.container
  .contact__title-line
    background-color: #d4d4d4
  .contact__title
    color: #d4d4d4

.input-wrap
  display: flex
  justify-content: center



.anchor-start
  position: relative
  float: right
  right: -20px
  bottom: 230px
  width: 100%
  max-width: 45px
  height: 40px
  background-color: #f6f6f6
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
  line-height: 45px
  text-align: center
  font-size: 24px
  color: #4d4d4d
