.service
  background-color: #f6f6f6

.service__img-container
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.service__img-caption
  font-size: 24px
  line-height: 49px

.service_img
  margin-left: 25%

.service__img-wrap
  width: 33%
  margin-top: 80px

.service__img
  display: block
  margin: 0 auto

.service__img-caption
  text-align: center