.testimonials
  background-color: #fff

.testimonial__content
  width: 100%
  max-width: 955px
  margin: 60px auto 0 auto
  //height: 100%
  //max-height: 350px
  background-color: transparent
  border: 1px solid #212121
  //text-align: center

.testimonials__img
  float: left
  margin: 80px 30px 0 120px

.testimonials__title
  font-size: 30px
  font-weight: 500
  color: $second-text-color
  margin-top: 80px
  text-transform: uppercase

.testimonials__title-caption
  margin: 10px 0 20px 0
  font-size: 12px
  font-style: italic
  color: $second-text-color

.testimonials__text
  font-size: 16px
  line-height: 26px
  color: $second-text-color
  opacity: 0.6
  text-transform: uppercase
  margin-right: 75px

.testimonials__img-carousal
  display: block
  margin: 55px auto 0 auto
  padding-bottom: 40px